<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script>
      {
        window.addEventListener('hashchange', (e) => {
          // console.log('hashchange')
          document.getElementById('root').innerHTML = window.location.hash.slice(1)
        })
        
        window.addEventListener('popstate', (e) => {
          console.log('popstate', e)
        })

      }
    </script> -->
  </head>
  <body>
    <!-- <a href='#home'>home</a>
    <a href='#user'>user</a>
    <a href='#profile'>profile</a> -->
    <div id="root"></div>
  </body>
</html>
